Notification {
    color: #2c2c2c;
    background: #d4d4d4;
    border: 1px solid #aeaeae;
}

QLabel {
    color: #2c2c2c;
}

#closeButton {
    color: #2c2c2c;
    background: transparent;
    border: 3px solid transparent;
    border-image: none;;
}

#closeButton:hover {
    border-image: url(assets/buttons/button-hover.png);
}

#closeButton:pressed {
    border-image: url(assets/buttons/button-pressed.png);
}

#appLabel {
    font-weight: bold;
}

